*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffe4c4;
    min-height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
}
/* div{
    display: flex;
    align-content: center;
    justify-content: center;
} */